* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(0, 0, 0, 0.8);
    font-family: 'latoregular';
    font-size: 14px;
    color: #989898;
    height: 1000px;
}

a:hover {
    text-decoration: none;
}